# Необходима поддержка редактора (плагин редактора)
# Важно: Срабатывает автоматически с учетом указанных настроек при сохранении файла

# .editorconfig делает свою папку основной
root = true

[*]
# Тип окончания строки (Unix-like)
end_of_line = lf

# Новая строка в конце документа
insert_final_newline = true

# Удаление "лишних" пробелов в конце строк
trim_trailing_whitespace = true

# Тип отступов
indent_style = space

# Размер отстутов
indent_size = 4

# Кодировка
charset = utf-8
