*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
ul,
li {
    list-style: none;
}
hr, fieldset {
    border: none;
}
option,
select,
input,
button,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: transparent;
    text-decoration: transparent;
    &::placeholder {
        color: inherit;
    }
}
option,
select,
button {
    cursor: pointer;
}
a {
    color: inherit;
    text-decoration: transparent;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
}
picture {
    line-height: 0;
}
img {
    max-width: 100%;
}
html, body {
    height: 100%;
    width: 100%;
}
@function toRem($value) {
    $remValue: ($value / 16) + rem;
    @return $remValue;
}
@mixin test($value) {
    font-size: $value;
}
@mixin x-container($max-width: var(--wrap), $padding: var(--padding)) {
    max-width: calc((#{$max-width} + #{$padding} * 2) / var(--font-size-default));
    padding-left: $padding;
    padding-right: $padding;
}
html {
    @include test(16px);
    @include x-container();
    min-width: px-to-rem(320);
    //min-width: px-to-rem(var(--min-width));
    //min-width: calc(var(--min-width) / var(--font-size-default) * 1rem);
    overflow-x: hidden;
}
body {
    scroll-behavior: smooth;
    &.lock {
        overflow: hidden;
    }
}
