:root {
    --padding: 15;
    --wrap: 1150;
    --min-width: 320;
    --font-size-default: 16;
}
$font_family_Montserrat: "Montserrat", sans-serif;
$font_family_Lato: "Lato", sans-serif;

$color-black: #000000;
$color-white: #ffffff;
